# Gemini API Key - Get this from Google AI Studio
GEMINI_API_KEY=your_api_key_here

# Chatbot API endpoint (Flowise)
NEXT_PUBLIC_CHATBOT_API_URL=http://149.28.152.97:3000/api/v1/prediction/ae18fce5-eda7-4163-9eee-5cc5b7cd3a08

# EmailJS credentials
NEXT_PUBLIC_EMAILJS_SERVICE_ID=hellofiqryrev_email
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=hellofiqryrev_contactme
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=znZf-mzsyCBJ9qDzb
